@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home";
}


<h1>Acesse a turma desejada</h1>


<a button class="btn btn-primary btn-lg"  href="~/Home/Turma1">Turma 1</a>
<a button class="btn btn-primary btn-lg"  href="~/Home/Turma2">Turma 2</a>
<a button class="btn btn-primary btn-lg"  href="~/Home/Turma3">Turma 3</a>
